<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolores maxime dolorem rerum amet cumque mollitia illum consectetur veritatis ducimus quam nostrum repudiandae et quae nisi, eum maiores quod voluptates. Tempore, explicabo culpa, rerum dolore nobis ab vitae neque nulla aut nostrum laudantium quisquam quos? Inventore mollitia nobis eum possimus deleniti consequuntur aliquam eligendi odit voluptatem! Molestias ea quia quae sequi, nihil soluta vel odio ad nulla voluptatem, velit quidem suscipit ipsum vero maxime unde repellendus quibusdam, ipsa hic mollitia quis tempora! Placeat, distinctio. Fuga laboriosam ab, neque nobis id sint molestiae perspiciatis error minus commodi? Dolore quidem blanditiis non.</p>
</footer>